.form-movie {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.movie-item {
  width: 100%;
  padding: 8px 5px 0 5px;
}

.button-submit {
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: #fff;
  padding: 13px 30px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.button-submit:hover {
  background: #0069d9;
}